<div class="coinage">
    <div class="currency">
        <li class="label">{{localize "CustomCurrency.ExperienceLabel"}}</li>
        <li class="denomination exp">
            <div class="currency-image" title="{{localize "CustomCurrency.ExperienceTitle"}}"></div>
            <span>{{totalExperience}}</span>
        </li>
    </div>
</div>
